/* @import './markdown.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --small-gap: 2rem;
  --big-gap: 4rem;
  --main-content: 48rem;
  --radius: 8px;
  --inline-radius: 5px;
  --header-height: 48px;
  --primary: #3FA0EF;

  /* Typography */
  --font-sans: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Roboto',
    'Helvetica Neue', sans-serif;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  /* Transitions */
  --transition: 0.1s ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /* Dark Mode Colors */
  --green: #2ecc71;
  --red: #e74c3c;
  /* Syntax Highlighting */

  /* Fading */
  --timing: 0.3s;
  --fade-in: var(--timing) ease-in-out;
  --bg: #fff;
  --bg-alpha: hsla(0, 0%, 100%, 0.9);
  --fg: #444;
  --gray: rgb(100, 100, 100);
  --light-gray: rgb(222, 222, 222);
  --lighter-gray: rgb(240, 240, 240);
  --lightest-gray: rgb(245, 245, 245);
  --article-color: #212121;
  --header-bg: rgba(255, 255, 255, 0.8);
  --gray-alpha: rgba(19, 20, 21, 0.5);
  --selection: rgba(0, 0, 0, 0.99);
  --link: #6669ff;

  --token: #666;
  --comment: #999;
  --keyword: #000;
  --name: #333;
  --highlight: #eaeaea;
}

[data-theme='light'] {
  --bg: #fff;
  --bg-alpha: hsla(0, 0%, 100%, 0.9);
  --fg: #444;
  --gray: rgb(100, 100, 100);
  --light-gray: rgb(222, 222, 222);
  --lighter-gray: rgb(240, 240, 240);
  --lightest-gray: rgb(245, 245, 245);
  --article-color: #212121;
  --header-bg: rgba(255, 255, 255, 0.8);
  --gray-alpha: rgba(19, 20, 21, 0.5);
  --selection: rgba(0, 0, 0, 0.99);
  --link: #6669ff;

  --token: #666;
  --comment: #999;
  --keyword: #000;
  --name: #333;
  --highlight: #eaeaea;
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --foreground-rgb: 255, 255, 255; */
/* --background-start-rgb: 0, 0, 0; */
/* --background-end-rgb: 0, 0, 0; */
/* } */
/* } */

/* body { */
/* color: rgb(var(--foreground-rgb)); */
/* background: linear-gradient( */
/* to bottom, */
/* transparent, */
/* rgb(var(--background-end-rgb)) */
/* ) */
/* rgb(var(--background-start-rgb)); */

.video-wrapper {
  border-radius: 10px;
  padding-top: 5.3%;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}

.video-mask {
  overflow: hidden;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--selection);
  color: var(--bg);
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 110%;
  font-size: 16px;
  line-height: 1.55em;
  min-height: 100vh;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  position: relative;
}

p, li {
  font-size: 1.1rem;
  margin-bottom: 1rem; /* Adds space below paragraphs and list items */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 2rem; 
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700; /* Makes h1 more bold */
}

h2 {
  font-size: 1.6rem;
  font-weight: 700; /* Adjusts the boldness for clarity */
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray);
  margin-top: 2rem; /* Adds space above horizontal rules */
  margin-bottom: 2rem; /* Adds space below horizontal rules */
}


blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--light-gray);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
}

p a,
article a,
a.reset {
  outline: none;
  color: var(--link);
  text-decoration: none;
  transition: background-color var(--transition), color var(--transition);
}

p a:hover,
article a:hover,
a.reset:hover {
  color: var(--link);
}

pre,
code {
  font-family: var(--font-mono);
}

summary {
  outline: none;
}

details {
  border-radius: var(--radius);
  background: var(--lightest-gray);
  padding: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
}

table {
  border: 1px solid gray;
}

td,
th {
  border: 1px solid gray;
}

@media print {
  :root {
    --bg: #fff;
    --fg: #000;
    --gray: #888;
    --light-gray: #dedede;
    --lighter-gray: #f5f5f5;
    --lightest-gray: #fafafa;
    --article-color: #212121;
    --gray-alpha: rgba(19, 20, 21, 0.5);
    --selection: rgba(0, 0, 0, 0.99);

    --token: #666;
    --comment: #999;
    --keyword: #000;
    --name: #333;
    --highlight: #eaeaea;
  }
}

article p {
  color: var(--article-color);
  margin: var(--gap-half) 0;
}

article h1{
  margin-top: var(--gap-double);
}

article h3{
  margin-top: var(--gap);
  margin-bottom: var(--gap-double);
}

article aside p {
  margin: var(--gap-half) 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}