.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(0.15turn, #3fa0ef, #080808, #080808);
}
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topNav {
  width: 100%;
  height: 25px;
}
.pageContainer {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  max-width: 1800px;
}
.opacityGrid {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
.pageContainerTwo {
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}
.portfolioPageContainer {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  margin: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.portfolioPageContainer2 {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  margin: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.skillsPageContainer {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  padding-bottom: 20px;
  border-radius: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80 vh;
}

.headerWrapper {
  width: 50%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.centerHeader {
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 150px;
}

.header h1 {
  border-width: 5px;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  text-align: center;
  word-wrap: break-word;
  align-items: flex-start;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 25vw;
  height: 100%;
  flex-wrap: wrap;
}

.cardTwo {
  margin: 2rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  /* max-width: 300px; */
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 5rem;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-width: 10px;
  width: 100%;
  padding: 10px;
  height: 80vh;
}

.portfolioExamples {
  width: 30%;
  margin: 10px;
}

.contact {
  padding: 0 1rem;
  background-color: #080808;
}

.secondaryPortfolioContainer {
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #eaeaea;
}

.headerEditor {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.googleAppleButton {
  width: 300px;
  height: 300px;
  border-radius: 10;
  margin-left: 20px;
  margin-right: 20px;
}
.socialMediaButtons {
  width: 100px;
  height: 100px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 100px;
}

.outsideImagesRow1 {
  width: 300px;
  height: 649px;
  border-radius: 10px;
}
.row2Container {
  width: 80%;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  max-width: 1800px;
  padding-left: 200px;
  padding-right: 200px;
}

.outsideDescriptionRow2 {
  width: 45%;
  justify-content: "center";
  align-items: "center";
  border-radius: 10px;
  text-align: "center";
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.title {
  font-size: 45px;
  color: "white";
  text-align: center;
}

@media only screen and (max-width: 990px) {
  .pageContainer {
    width: 100%;
    height: 85vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    max-width: 1800px;
  }
  .description {
    margin: 5rem 0;
    line-height: 1.5;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }
  .opacityGrid {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .container {
    overflow-x: hidden;
  }
  .googleAppleButton {
    width: 170px;
    height: 170px;
    border-radius: 10;
    margin: 10px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 10px;
    width: 100%;
    margin-top: 350px;
  }
  .headerWrapper {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
  }
  .socialMediaButtons {
    display: none;
  }
  .socialMediaButtons2 {
    width: 100px;
    height: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 100px;
  }
  .outsideImagesRow1 {
    display: none;
  }
  .outsideDescriptionRow2 {
    display: none;
  }
  .row2Container {
    width: 80%;
    height: 100vh;
    align-items: "center";
    justify-content: center;
  }
  .skillsPageContainer {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
  }
  .title {
    font-size: 25px;
    color: "white";
    text-align: center;
  }
  .portfolioPageContainer {
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
  }
  .portfolioPageContainer2 {
    display: none;
  }
}
