.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-image: url('https://firebasestorage.googleapis.com/v0/b/gladapp1.appspot.com/o/Images%2FPossible%20Portfolio%20picture.jpeg?alt=media&token=23cfafe4-144f-4ad5-9151-ca77e3a2e00c'); */
  background-size: 1000vh;
}
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 5;
}

.topNav{
  width: 100%;
  height: 25px;
}
.pageContainer{
  width:100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin: 10px;
  
  border-radius: 10px;

border:1px solid #080808;
  
}
.pageContainerTwo{
  width:100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-width: 10px;
  width: 100%;
  height: 100vh;
}

.headerWrapper{
  width: 30%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 100px;
  
}

.centerHeader {
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 150px;
}

.header h1 {
  border-width: 5px;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.cardTwo {
  margin: 2rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  /* max-width: 300px; */
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 5rem;
  font-family: cursive;
}

.portfolio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-width: 10px;
  width: 100%;
  margin-left: 10px;
  /* height: 100vh; */
}

.portfolioExamples{
  width: 30%;
  margin: 10px;
}

.contact{
  padding: 0 1rem;
}

.secondaryPortfolioContainer{
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #eaeaea;
}

.headerEditor{
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



